@media (max-width: 1150px)
{
    .ralTables_container
    {
        width: 100%;
        
        font-size: 1.15em;
        
        margin: auto !important;
    }

    .ralInfoText_1_ru,
    .ralInfoText_1_en
    {
        width: calc(75vw - 1.1em);
        height: 6.7em;
    }
    
}
@media (max-width: 1040px)
{    
    .ralTables_container
    {
        font-size: 1.1em;
    }
    tbody td
    {
        width: 7.1em;
    }
    tbody td:nth-child(1)
    {
        width: 5.1em;
    }
}
@media (max-width: 900px)
{
    .ralInfoText_1_ru,
    .ralInfoText_1_en,
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        font-size: 0.85em;
    }

    .ralPantoneBtns
    {
        width: calc(20vw - 0.8em);
        height: calc(20vw - 1.5em);
    }
}
@media (max-width: 800px)
{
    .ralInfoText_1_ru,
    .ralInfoText_1_en,
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        font-size: 0.75em;

    }
}
@media (max-width: 700px)
{
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        bottom: 1em;
    }
}
@media (max-width: 600px)
{
    .ralAdditional
    {
        height: 16.5em;
    }
    .ralInfoText_1_ru,
    .ralInfoText_1_en
    {
        top: 1em;
        width: 100%;
    }
}
@media (max-width: 550px)
{
    .ralAdditional
    {
        height: 15em;
    }
    .ralInfoText_1_ru_h,
    .ralInfoText_1_en_h
    {
        font-size: 1.2em;
    }
    .ralInfoText_1_ru,
    .ralInfoText_1_en,
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {   
        font-size: 0.65em;
    }
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        width: calc(100% - 3.3em);
        bottom: 1.8em;
    }
    tbody td:nth-child(1)
    {
        width: 1em;
    }
    tbody td
    {
        font-size: 0.8em;
    }

    thead th
    {
        font-size: 0.7em;
    }

}
@media (max-width: 410px)
{
    .ralInfoText_1_ru_h,
    .ralInfoText_1_en_h
    {
        font-size: 1.2em;
    }
    .ralAdditional
    {
        height: 13em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .ralInfoText_1_ru,
    .ralInfoText_1_en,
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        font-size: 0.55em;
    }
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        width: calc(100% - 2em);
        bottom: 2.5em;
    }

    tbody td
    {
        font-size: 0.55em;
    }
    thead th
    {
        font-size: 0.55em;
    }

}
@media (max-width: 300px)
{
    .ralInfoText_1_ru_h,
    .ralInfoText_1_en_h
    {
        font-size: 1.15em;
    }
    .ralAdditional
    {
        height: 8em;
    }
    .ralInfoText_1_ru,
    .ralInfoText_1_en,
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        font-size: 0.35em;
    }
    .ralInfoText_2_ru,
    .ralInfoText_2_en
    {
        width: calc(100% - 3.3em);
    }
    tbody td
    {
        font-size: 0.35em;
    }
    thead th
    {
        font-size: 0.35em;
    }

}